.title{

	background-color: #F1DFEF;
	text-align: center;
	font-size: 60px;
}
.chapter_Title{
	background-color: #603629;
	font-size: 40px;
	font-family:serif;
	padding:4px;

}
.image{
	max-width:50%;
	max-height:50%;

}
.paragraph1{
	background-color: #5F6029;
	Padding:4px;
	Margin:10px;
	border-radius:4px;
	font-size:20px;
	display:flex;

}
.paragraph2{
	background-color: #DFE3F1;
	Padding:4px;
	Margin:10px;
	border-radius:4px;
	font-size:20px;


}
.paragraph3{
	background-color: #DFF1DF;
	Padding:4px;
	Margin:10px;
	border-radius:4px;
	font-weight: 900;
	font-size: 30px;
	color:Red;


}